.text {
    width: 100%;
    text-align: center;
    height: 50px;
    font-size: 40px;
    font-family: bold;
}

.Button {
    position: absolute;
    margin-top: 20%;
    margin-left: 42.5%;
    width: 150px;
    height: 35px;
    background:skyblue;
    font-size: 200%;
    font-family: Bold;
    text-align: center;
    border-radius: 20px;
    border: solid black 2px;
    transition-timing-function: linear;
    transition-duration: 1s;
    box-shadow: 0 2px 7px grey;
}

.Button:hover {
    background: red;
    box-shadow: 0 2px 7px rgba(0,24,108,1);
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.5s;
}

.Button:active {
    opacity: 1;
    background: green;
    box-shadow: 0 2px 7px royalblue;
    color: green;
}